@model IEnumerable<DIS_Group10.Models.Park>

@{ ViewData["Title"] = "Explore Park"; }
<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js">


<body>


    <div id="#top"></div>

    <section class="sub-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2></h2>
                    <p></p>
                </div>
            </div>
        </div><!-- END container -->
    </section>
    <!--  -->
    <section id="model" class="page-section">
        <div class="container">

            <!--<div class="row">
                <div class="heading text-center">-->
                    <!-- Heading -->
                    <!--<br><br><br>
                    <p><input type="text" style=" border-radius: 20px; text-align:left;width:350px;" placeholder="Florida,Ohio,Colorado..">		</p>
                    <button class="btn btn-danger btn" style="border- radius : 20 px" type="button">Search</button>
                </div>
                <div class="col-sm-12">

                </div>
            </div>-->


        </div>
        <!--/.container-->
    </section>
    <section class="page-section>
        <div class="container">
        </div>
    </section>
    <section id="plans" class="page-section">
        <div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h2>Colleges</h2>
                <p>Click on respective college details to know more about the departments and degrees offered by the university</p>
            </div>
            <div class="row flat">
                @foreach (var park in Model)
                {

                    <div class="col-lg-3 col-md-3 col-xs-12">
                        <ul class="plan plan2 featured">

                            <li class="uni-name"> @Html.DisplayFor(modelItem => park.fullName) </li>
                            <center>
                                <p>
                                    <strong> City</strong>  @Html.DisplayFor(modelItem => park.parkCode)<br> <strong> State </strong> @foreach (var item in park.states)
                                    {
                        @Html.DisplayFor(modelItem => item.state.name)}
                                </p>


                                <a class="btn btn-danger btn-lg;scroll-link" asp-area="" asp-action="Details" asp-route-id="@park.ID">Details</a>

                            </center>
                           
                        </ul>
                    </div>




                }
            </div>
        </div>
    </section>

    <!--/#north-america-->
    <!--/.page-section-->
    <a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>
    <!--[if lte IE 8]><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><![endif]-->
    <script src="~/js/modernizr-latest.js"></script>
    <script src="~/js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="~/js/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="~/js/jquery.nav.js" type="text/javascript"></script>
    <script src="~/js/jquery.cslider.js" type="text/javascript"></script>
    <script src="~/js/custom.js" type="text/javascript"></script>

</body>
</html>